# Ignore Dataset and Extracted Features
data/raw/
data/processed/

# Ignore Output Logs and Plots
results/ga/
results/pso/
results/aco/
# Ignore Python Caches and Environments
__pycache__/
*.pyc
.venv/
venv/
env/
# Ignore OS files
.DS_Store
Thumbs.db
# Ignore JetBrains IDE files
.idea/


# PyCharm/IntelliJ files
*.iml

# Python compilation files
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# Your results folder (optional, if you don't want to upload huge JSONs)
# results/dummy/
